
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:cursive;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:url(peakpx.jpg);
 
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  background: transparent;
  border: 2px solid  #cef10b;
}
.game-details {
  color: #f4046cf3;
  font-weight: 550;
  font-size: 1.5rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  border: 3px solid #09da1e;
  background: transparent;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #e21456;
  border-radius: 50%;
}
.play-board .head {
  background: rgb(255, 187, 0);
  border-radius:40%;
}


.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #11c2f3;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 3px solid #cef10b;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}